body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#login-section, #user-section, #admin-section {
    margin: 20px auto;
}

.cake-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cake-img {
    width: 150px;
    cursor: pointer;
    border: 2px solid transparent;
}

.cake-img:hover {
    border-color: #ff9800;
}

#canvas {
    border: 2px solid #007bff;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.user-creation {
    width: 100px;
    margin: 5px;
    border: 2px solid #007bff;
    border-radius: 5px;
}

#admin-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
