body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Style pour le bouton de connexion admin */
#admin-login {
    position: absolute;
    top: 10px;
    right: 10px;
}

#admin-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    text-align: center;
}


#admin-dialog h3 {
    margin-bottom: 10px;
}

#admin-dialog button {
    margin: 5px;
}


.cake-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cake-img {
    width: 150px;
    cursor: pointer;
    border: 2px solid transparent;
}

.cake-img:hover {
    border-color: #ff9800;
}

#canvas {
    border: 2px solid #007bff;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}



.user-creation {
    width: 100px;
    margin: 5px;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
}

#admin-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Lightbox container */
#lightbox {
    position: fixed; /* Keep the lightbox fixed on the screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* White background with slight transparency */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    z-index: 1000; /* Ensure it is above other content */
    display: none; /* Initially hidden */
}

/* Lightbox image */
#lightbox-image {
    max-width: 90%; /* Limit the width of the image to 90% of the container */
    max-height: 90%; /* Limit the height of the image to 90% of the container */
    object-fit: contain; /* Make sure the image maintains its aspect ratio */
}


